@import "~bootstrap/scss/bootstrap";

:host {
  display: block;
  width: 100%;
}

.navbar {
  background-color: $primary !important;
  padding: 1rem;

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white !important;
  }

  .navbar-toggler {
    border: none;
    background: transparent;
    outline: none;
  }

  .nav-link {
    color: white !important;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #ffcc00 !important;
    }
  }
}
